QUIC: After the handshake is confirmed (see Section 4.1.2 of [QUIC-TLS]), an endpoint MUST send any CONNECTION_CLOSE frames in a 1-RTT packet.

This is a missing MUST item from the spreadsheet here:
https://docs.google.com/spreadsheets/d/1is0eRNrmNwzqcCTmTPYJwC3fswpYpqmY87-5CylraLc/edit?gid=1067533579#gid=1067533579

Need to determine if this is still missing, and if it is, correct it

Investigate and if work required create another issue with description what needs to be done


we believe it is implemented. not sure if there is an existing test for this. The test we are looking for is the endpoint closes the connection right after SSL handshake completes. No data were sent over the connection.

We have implicit checks for this, in that:
1) ch_on_handshake_complete asserts that tx_enc_level == QUIC_ENC_LEVEL_1RTT
2) ossl_quic_enc_level_to_pkt_type() ensures that the packet type is 1RTT if the enc level is 1RTT
3) our CI runs several test cycles with debug enabled, so we should get a crash if the quic tests ever encode a connection close request as something other than a 1RTT packet.

What we don't have is a negative test - i.e. confirming that sending a connection close in a non 1RTT packet generates an error.  We could do that by writing a test to mangle the packet type, but the RFC doesn't define a behavior if that occurs, so I'm not sure what any such test should expect.

I think the issue is more tricky here and as always devil hides in detail. RFC 9000 section 10.2.3 Immediate Close During handshake says this:
```
   *  A client will always know whether the server has Handshake keys
      (see Section 17.2.2.1), but it is possible that a server does not
      know whether the client has Handshake keys.  Under these
      circumstances, a server SHOULD send a CONNECTION_CLOSE frame in
      both Handshake and Initial packets to ensure that at least one of
      them is processable by the client.
```
When I was trying to figure out at which point server switches to handshake confirmed state I've tripped over this moment in `txp_should_try_staging()`:
```
/*
 * We can produce CONNECTION_CLOSE frames on any EL in principle, which
 * means we need to choose which EL we would prefer to use. After a
 * connection is fully established we have only one provisioned EL and this
 * is a non-issue. Where multiple ELs are provisioned, it is possible the
 * peer does not have the keys for the EL yet, which suggests in general it
 * is preferable to use the lowest EL which is still provisioned.
 *
 * However (RFC 9000 s. 10.2.3 & 12.5) we are also required to not send
 * application CONNECTION_CLOSE frames in non-1-RTT ELs, so as to not
 * potentially leak application data on a connection which has yet to be
 * authenticated. Thus when we have an application CONNECTION_CLOSE frame
 * queued and need to send it on a non-1-RTT EL, we have to convert it
 * into a transport CONNECTION_CLOSE frame which contains no application
 * data. Since this loses information, it suggests we should use the 1-RTT
 * EL to avoid this if possible, even if a lower EL is also available.
 *
 * At the same time, just because we have the 1-RTT EL provisioned locally
 * does not necessarily mean the peer does, for example if a handshake
 * CRYPTO frame has been lost. It is fairly important that CONNECTION_CLOSE
 * is signalled in a way we know our peer can decrypt, as we stop processing
 * connection retransmission logic for real after connection close and
 * simply 'blindly' retransmit the same CONNECTION_CLOSE frame.
 *
 * This is not a major concern for clients, since if a client has a 1-RTT EL
 * provisioned the server is guaranteed to also have a 1-RTT EL provisioned.
 *
 * TODO(QUIC SERVER): Revisit this when server support is added.
 */
```
The comment refers 10.2.3. My take on TODO note is that we actually should
consider allowing server sending CONNECTION_CLOSE at 1RTT level and initial
level too.

I'm still searching the details when server switches to handshake done.
may be we will need to establish yet another state 'peer_handshake_done'
which will denote the fact the peer is able to deal with CONNECTION_CLOSE
in 1RTT (higher encryption level).

I'm closing this. the test is not worth the effort. We should rather focus on implementing SHOULD paragraph from RFC 9000, 10.2.3