congestion control may prevent QUIC stack to finish TLS handshake

This is related to #1246, where we point out two mishaps:
   - the QUIC stack at server does not accept stream, the stream messages are not ACKed
   - client does not attempt to retransmit those unACKed packets/frames

This ticket covers the _client does not attempt to retransmit_ part. 

When the issue occurs it's worth attaching the debugger to the process and see how QUIC stack objects look like (`egdb quic_server_ssl_poll_http 'pgrep quic' `). The test program writes every second message as follows to its `stderr`:
```
run_quic_client client stream (bidi) (0xf8c6883e3c0) 
run_quic_client client stream (bidi) (0xf8c6883e5a0) 
```
The address is instance of `struct poll_event` which contains address of SSL stream object:
```
(gdb) p ((struct poll_event *)0xf8c6883e3c0)->pe_poll_item.desc.value.ssl
$18 = (SSL *) 0xf8d14992300
```
This can be typecast to `QUIC_XSO` as we are sure it contains SSL stream object. We are interested in channel object where SSL stream belongs to:
```
(gdb) p ((QUIC_XSO *) $18)->conn->ch
$26 = (QUIC_CHANNEL *) 0xf8d0f222000
```
And we suspect there is something wrong with ACK manager, so let's dump some interesting data from it. We want to see tx list for application packet number space. the list contains unACKed packets. If things look good list should be empty:
```
(gdb) p ((QUIC_XSO *) $18)->conn->ch->ackm->tx_history[2]
$27 = {packets = {alpha = 0xf8d174c9b40, omega = 0xf8c9336fcc0, num_elems = 0x6}, map = 0xf8c566ff460, watermark = 0x6, highest_sent = 0x5}
```
there are six (`num_elems = 0x6`) unACKed packets. The other relevant piece might be a `loss_time`
```
(gdb) p ((QUIC_XSO *) $18)->conn->ch->ackm->loss_time[2]
$28 = {t = 0x0}
```
It is zero. Let's also check `loss_detection_deadline`:
```
(gdb) p ((QUIC_XSO *) $18)->conn->ch->ackm->loss_detection_deadline
$29 = {t = 0xffffffffffffffff}
```
It's -1 which is indefinite (a.k.a. never) therefore we see no retransmissions from client. Looking further we see
```
(gdb) p ((QUIC_XSO *) $18)->conn->ch->ackm->handshake_confirmed
$30 = 0x0
```
handshake confirmed is zero. So the client has no idea handshake got confirmed. This is enough data to start looking into calculation of retransmission timer (probe time out) which happens here in `ackm_get_pto_time_and_space()`:
```
 828 static OSSL_TIME ackm_get_pto_time_and_space(OSSL_ACKM *ackm, int *space)
 829 {
 830     OSSL_RTT_INFO rtt;
 831     OSSL_TIME duration;
 832     OSSL_TIME pto_timeout = ossl_time_infinite(), t;
 833     int pto_space = QUIC_PN_SPACE_INITIAL, i;
 834
 835     ossl_statm_get_rtt_info(ackm->statm, &rtt);
 836
 837     duration
 838         = ossl_time_add(rtt.smoothed_rtt,
 839                         ossl_time_max(ossl_time_multiply(rtt.rtt_variance, 4),
 840                                       ossl_ticks2time(K_GRANULARITY)));
 841
 842     duration
 843         = ossl_time_multiply(duration,
 844                              (uint64_t)1 << min_u32(ackm->pto_count,
 845                                                     MAX_PTO_COUNT));
 846
 847     /* Anti-deadlock PTO starts from the current time. */
 848     if (ackm_ack_eliciting_bytes_in_flight(ackm) == 0) {
 849         assert(!ackm->peer_completed_addr_validation);
 850
 851         *space = ackm->discarded[QUIC_PN_SPACE_INITIAL]
 852                     ? QUIC_PN_SPACE_HANDSHAKE
 853                     : QUIC_PN_SPACE_INITIAL;
 854         return ossl_time_add(ackm->now(ackm->now_arg), duration);
 855     }
 856
 857     for (i = QUIC_PN_SPACE_INITIAL; i < QUIC_PN_SPACE_NUM; ++i) {
 858         if (ackm->ack_eliciting_bytes_in_flight[i] == 0)
 859             continue;
 860
 861         if (i == QUIC_PN_SPACE_APP) {
 862             /* Skip application data until handshake confirmed. */
 863             if (!ackm->handshake_confirmed)
 864                 break;
 865
 866             /* Include max_ack_delay and backoff for app data. */
 867             if (!ossl_time_is_infinite(ackm->rx_max_ack_delay)) {
 868                 uint64_t factor
 869                     = (uint64_t)1 << min_u32(ackm->pto_count, MAX_PTO_COUNT);
 870
 871                 duration
 872                     = ossl_time_add(duration,
 873                                     ossl_time_multiply(ackm->rx_max_ack_delay,
 874                                                        factor));
 875             }
 876         }
 877
 878         t = ossl_time_add(ackm->time_of_last_ack_eliciting_pkt[i], duration);
 879         if (ossl_time_compare(t, pto_timeout) < 0) {
 880             pto_timeout = t;
 881             pto_space   = i;
 882         }
 883     }
 884
 885     *space = pto_space;
 886     return pto_timeout;
 887 }
```
At line 864 we break the loop if handshake is not confirmed so the rest of PTO calculation for application packet number space (?RTT-1?) does not count. The return value (`pto_timeout`) is left to be -1 (a.k.a. infinite).

Pieces start to slowly fit together. Client does not retransmit because it still thinks the handshake is not complete, therefore it keeps retransmission timer set to infiniti.

It's clear the client here is a victim of server which fails to send [HANDSHAKE_DONE](https://datatracker.ietf.org/doc/html/rfc9000#name-handshake_done-frames) QUIC frame in 1-RTT level. More details are provided in [RFC 9001](https://datatracker.ietf.org/doc/html/rfc9001#section-4.1.2). However I could not find any suggestion how client should proceed when server fails to send HANDSHAKE_DONE message.

The current QUIC stack we have in openssl closes the connection but leaves SSL stream objects behind. So perhaps the code in [PR 27353](https://github.com/openssl/openssl/pull/27353) should go in, because we understand the error condition which makes connection object to go while leaving the stream object behind.

After looking at server side more closely [#1246](https://github.com/openssl/project/issues/1246) we are back here. We've learned the server does not ACK client's _handshake_finished_ message sent in handshake packet 0. There is evidence the message sent by client never makes it to TLS at server. The exact cause is unknown, but the cause is not that important now as those symptoms match the case of lost packet. The client should retransmit the _handshake_finished_ message anyway. I can see the packet with _handshake_finished_ sitting at _tx queue in _ackm_ at client. The loss detection timer at client does not seem to be armed, this is currently being investigated.

In order to trigger the issue deterministically one can apply diff here:
```
diff --git a/ssl/quic/quic_rx_depack.c b/ssl/quic/quic_rx_depack.c
index a36b02d5dc..21a9d6597e 100644
--- a/ssl/quic/quic_rx_depack.c
+++ b/ssl/quic/quic_rx_depack.c
@@ -1172,6 +1172,10 @@ static int depack_process_frames(QUIC_CHANNEL *ch, PACKET *pkt,
                                                        "CRYPTO frame not valid in 0-RTT");
                 return 0;
             }
+
+            if (ch->is_server && enc_level == QUIC_ENC_LEVEL_HANDSHAKE)
+                return 0; /* drop crypto frame at handshake packet */
+
             if (!depack_do_frame_crypto(pkt, ch, parent_pkt, ackm_data, &datalen))
                 return 0;
             break;
```
change above makes server to drop every packet at QUIC handshake layer which carries crypto frame. The wireshark dump collected for code above shows the same symptom: client does not attempt to retransmit handshake_finished message sent at QUIC handshake layer.

placing the breakpoint to `on_lost()` function just confirms it does not fire. There are just two calls to `on_lost()` which happen for _QUIC_ENC_LEVEL_INITIAL_ no call happens for _QUIC_ENC_LEVEL_HANDSHAKE_. I think there is a kind of flaw in ACK manager.

Things are more subtle here. Here I'm attaching packet dump which is the result of diff above. The packet dump shows the client retransmits its handshake_finish several times: pkt 17, pkt 20, pkt 23, ...

however looking at the original udp stream 58 at issue #1246 we see udp datagram 1988 which carries two QUIC packets sent by server:
  - handshake packet number 3
  - and RTT-1 ping

handshake packet number 3 is ACK which acknowledges client's handshake packet number 2, nothing else. Walking the stream backwards we see no server's ACK for:
  - client's ping sent in handshake packet 1 (the first QUIC packet in UDP datagram number 1466)
  - handshake_finished message sent by client in handshake packet 0 (the second QUIC packet in UDP datagram number 1259)

Let's compare findings above with packet capture which got captured with diff in earlier comment. At the beginning the things look very similar
  - client sends its handsahke_finished message in UDP datagram number 12 (client's handshake layer packet number 0), diff in earlier comment prevents QUIC stack to deliver it to TLS at server, the packet is unACKed
  - UDP datagram 15 carries ping sent by client at handshake layer as pkt 1
  - UDP datagram 16 carries an ACK from server which acknowledges client's ping in earlier UDP 15
  - UDP datagram 17 sent by client carries two QUIC packets: the first is retransmission of handshake_finish, the second on is RTT-1 ack to ping sent by server

Unlike the reali scenario here the serve ACKs the first ping sent by client at handshake layer. In a real capture at issue #1246 server does not ACK the first ping sent by client over handshake layer..

[quic-1drop.pcap.gz](https://github.com/user-attachments/files/21140852/quic-1drop.pcap.gz)

The patched shared [here](https://github.com/openssl/project/issues/1266#issuecomment-3051481222) is kind of futile because it triggers the symptoms only, not the issue in fact. What happens in a real scenario (odds ~5%-10%) is that _handshake_finish_ packet sent by client gets lost. The client properly determines the packet with CRYPTO_FRAME which carries _handshake_finish_ got lost and updates corresponding cryptostream to retransmit data.

When channel constructs the QUIC packet to be transmitted, it checks all streams if there are data to transmit, including crypto streams. It finds out there are data in handshake crypto stream to send out. But it will fail to send data because crypto is not allowed:
```
2886     /* CRYPTO Frames */
2887     if (a.allow_crypto) {
2888         if (!txp_generate_crypto_frames(txp, pkt, &have_ack_eliciting))
2889             goto fatal_err;
2890     }
```
The allow crypto is determined by packet geometry archetype (`archetypes` defined in `ssl/quic_txp.c`). As we enter the function `ossl_quic_tx_packetiser_generate()` where snippet above comes from we check congestion limit at line 863:
```
 858     int res = 0, rc;
 859     uint32_t archetype, enc_level;
 860     uint32_t conn_close_enc_level = QUIC_ENC_LEVEL_NUM;
 861     struct txp_pkt pkt[QUIC_ENC_LEVEL_NUM];
 862     size_t pkts_done = 0;
 863     uint64_t cc_limit = txp->args.cc_method->get_tx_allowance(txp->args.cc_data);
```
The `cc_limit` is then passed to `txp_determine_archetype()` where we take this branch:
```
1412     /*
1413      * If we are out of CC budget, we cannot send a normal packet,
1414      * but we can do an ACK-only packet (potentially, if we
1415      * want to send an ACK).
1416      */
1417     if (cc_limit == 0)
1418         return TX_PACKETISER_ARCHETYPE_ACK_ONLY;
```
the returned _archetype_ then selects this properties for QUIC handshake packet the stack is about to retransmit:
```
1208         /* EL 2(HANDSHAKE) - Archetype 2(ACK_ONLY) */
1209         {                                                                                                                                                                                                                                                                                                              
1210             /*allow_ack                       =*/ 1,
1211             /*allow_ping                      =*/ 0,
1212             /*allow_crypto                    =*/ 0,
1213             /*allow_handshake_done            =*/ 0,
1214             /*allow_path_challenge            =*/ 0,
1215             /*allow_path_response             =*/ 0,
1216             /*allow_new_conn_id               =*/ 0,
1217             /*allow_retire_conn_id            =*/ 0,
1218             /*allow_stream_rel                =*/ 0,
1219             /*allow_conn_fc                   =*/ 0,
1220             /*allow_conn_close                =*/ 0,
1221             /*allow_cfq_other                 =*/ 0,
1222             /*allow_new_token                 =*/ 0,
1223             /*allow_force_ack_eliciting       =*/ 1,
1224             /*allow_padding                   =*/ 0,
1225             /*require_ack_eliciting           =*/ 0,
1226             /*bypass_cc                       =*/ 1,
1227         },                                                                                                                                                                                                                                                                                                             
1228     },
```
line 1212 makes attempt to retransmit _handshake_finished_ message futile. According to debug logs I've gathred so far I'm fairly sure this exactly what's going on there. To hit this condition two things must happen:
  - _handshake_finished_ message must get lost
  - the channel/connection must be congested

the new question is why the issue does not recover after congestion condition is gone (as this should be just temporal). However according to data I've gathered so far there is just one attempt to retransmit data. If it fails due to !crypto_allowed, we never retry. For the below:
```
2886     /* CRYPTO Frames */
2887     if (a.allow_crypto) {
2888         if (!txp_generate_crypto_frames(txp, pkt, &have_ack_eliciting))
2889             goto fatal_err;
2890         if (enc_level == QUIC_ENC_LEVEL_HANDSHAKE)
2891             fprintf(stderr, "%s crypto frame sent for %p with %p\n", __func__, txp, txp->args.crypto[pn_space]);
2892     } else if (enc_level == QUIC_ENC_LEVEL_HANDSHAKE) {
2893         fprintf(stderr, "%s crypto not allowed for %p with %p\n", __func__, txp, txp->args.crypto[pn_space]);
2894     }
```
I'm getting debug log output as follows:
```
ossl_quic_sstream_mark_lost 0x44a94778720 marked lost <0, 51> (51)
txp_generate_for_el crypto not allowed for 0x44af8c66300 with 0x44a94778720
```
At first line we schedule the data transmission. Then we attempt to retransmit. And this also very last event which is logged for cryptostream `0x44a94778720`.

So this is what happens. I vaguelly remember some QUIC related papers suggest that handshake should not be part of bandwidth/congestion control. So it feels like flipping the allowed_crypto bit can be a reasonable workaround here. However right now I'd like to understand why things get stuck. Later we may get to similar situation with RTT-1 streams. So I'd like to understand as much details as possible here.

The fact that we do not retransmit after the congestion is relieved is certainly a bug.

The workaround to allow crypto to bypass CC is IMO fairly reasonable however it would be also good to fix the bug as who-knows-what we also do not retransmit after congestion control is invoked. This looks like some bigger issue with how we do CC.


BTW, excellent work on the investigation @Sashan !

All details are in [PR 28023](https://github.com/openssl/openssl/pull/28023). In case you will be testing those changes on your own you need to include [PR 27909](https://github.com/openssl/openssl/pull/27909) too (this makes `SSL_shutdown()` a better friend of `SSL_poll()`). You will also need to update perftools with [PR#26](https://github.com/openssl/perftools/pull/26) which brings `quic_server_ssl_poll_http` test app in. To repeat my test run:
```
for i in `seq 1000` ; do
   echo "Attempt $i" ;
   ./quic_server_ssl_poll_http -p 8000 -b 1 -u 0 -c 100 -w 1024 -s 1024 /path/to/servercert.pem /path/to/serverky.pem ;
done
```

Similar test with 1000 iterations for unistream `./quic_server_ssl_poll_http -p 8000 -b 0 -u 1 -c 100 -w 1024 -s 1024 /path/to/servercert.pem /path/to/serverky.pem ;`. 

However when trying to run more than one stream (for example `-b 2 -u 0`) I'm triggering the issue with same/similar symptoms after 159 iterations. Trying to run mix of streams (`-b 1 -u 1`)  seems to hit the same/similar issue too, perhaps bit faster usually within 100 iterations.

So it feels like the change in PR is heading in right direction, but the fix is not complete yet. It improves the situation by factor 10. (from ~10% likelihood we get to ~1% likelihood of hitting the bug.

Just in case someone feels like ready to poke around, this is the script I'm using to run test and collect the data:
```
#!/bin/sh

DEBUG_ROOT='/tmp/debug.data'
mkdir -p $DEBUG_ROOT

SERVERCERT='/home/sashan/work.openssl/QUIC/openssl.addr_validation/test/certs/servercert.pem'
SERVERKEY='/home/sashan/work.openssl/QUIC/openssl.addr_validation/test/certs/serverkey.pem'
#test_cmd="./quic_server_ssl_poll_http -p 8000 -b 1 -u 1 -c 100 -w 1024 -s 1024 $SERVERCERT $SERVERKEY"
test_cmd="./quic_server_ssl_poll_http -p 8000 -b 2 -u 0 -c 100 -w 1024 -s 1024 $SERVERCERT $SERVERKEY"

for i in `seq 1000` ; do
	echo "Attempt $i"
	DUMPDIR="$DEBUG_ROOT/debug.$i"
	mkdir -p $DUMPDIR
	tcpdump -i lo0 -s 1500 -w $DUMPDIR/quic.pcap &
	TCPDUMP_PID="$!";
	sleep 1 ;
	export SSLKEYLOGFILE=$DUMPDIR/keys.txt
	$test_cmd 2> $DUMPDIR/debug.txt ;
	kill -9 $TCPDUMP_PID
	editcap --inject-secrets tls,$SSLKEYLOGFILE $DUMPDIR/quic.pcap $DUMPDIR/quic.pcapng && rm $DUMPDIR/quic.pcap
done
```
And those are gdb commands to show details about poll_event for stream/connection:
```
define dump_qconn
	p ((struct poll_event *) $arg0)->pe_poll_item.desc.value.ssl
	p ((QUIC_CONNECTION *)$1)->ch
	p ((QUIC_CHANNEL *)$2)->txp->args.crypto[1]
	p ((QUIC_CHANNEL *)$2)->txp
	p ((QUIC_CHANNEL *)$2)->txp->args.cc_data
	p ((QUIC_CHANNEL *)$2)->ackm
end

define dump_stream
	p ((struct poll_event *) $arg0)->pe_poll_item.desc.value.ssl
	p ((QUIC_XSO *)$1)->conn->ch
	p ((QUIC_CHANNEL *)$2)->txp->args.crypto[1]
	p ((QUIC_CHANNEL *)$2)->txp
	p ((QUIC_CHANNEL *)$2)->txp->args.cc_data
	p ((QUIC_CHANNEL *)$2)->ackm
end
```
Once the script hits the issue and /quic_server_ssl_poll_http gets stuck just attach to it with gdb, then check the tail of corresponding `debug.txt` to find addresses for poll_events which experiencing problem.

This is the debug log which shows `ackm` (ack manager) and `cc` (congestion controller) are working against each other when packet loss is detected.

The data here helps me to better understand the failure mechanism. The udp-41.pcapng.gz attached contains udp stream which produced log below at client. The first thing to note is excessive amount of calls to `ackm_set_loss_detection_timer`. The part of the reason is the function is encryption level agnostic, while at other places my code produces message for _handshake_ encryption level where possible. The `ackm_set_loss_detection_timer` is being called by packetiser when it dispatches packet to network to arm retransmission timer. I suspect there is also eventual call to `ackm_set_loss_detection_timer` on behalf of `ackm` (ACK manager) to adjust the timer by `RTT` calculation. The exact call path needs to be discovered yet.
 
```
     1	1852394b0b757de0 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b4700f218
     2	1852394b0b75e758 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b47016360
     3	1852394b0df82950 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b4983ad28
     4	1852394b0df85448 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b4983d438
     5	1852394b0e4c5c00 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b0ef47b10
     6	1852394b0e4c7758 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b0f48a208
     7	1852394b0fcc6868 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b1044d0a0
     8	1852394b0fcc7038 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b11c4c980
     9	1852394b11c84420 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b13bd26b0
    10	1852394b11c876e8 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b15b921a8
    11	1852394b129540b0 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b17306be0
    12	1852394b1295b5e0 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b17fdaec0
    13	1852394b12fdca68 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b17853080
    14	1852394b13255f38 txp_generate_for_el crypto frame sent for 0x6d868674c00 with 0x6d89d48d900
    15	1852394b13259200 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b17acf430
    16	1852394b1325d850 ossl_ackm_on_tx_packet 0x6d8686676a0 sent:97 in_flight:97
    17	1852394b1326ce68 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b17acdcc0
    18	1852394b13273fb0 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b1447502e
    19	1852394b155a9688 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b156929b4
    20	1852394b155aa628 txp_generate_for_el crypto frame sent for 0x6d868674c00 with 0x6d89d48d900
    21	1852394b155ab9b0 ossl_ackm_on_tx_packet 0x6d8686676a0 sent:38 in_flight:135
    22	1852394b155ac568 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b179e68d4
    23	1852394b180a31e0 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b19e21be0
    24	1852394b180a4950 txp_generate_for_el crypto frame sent for 0x6d868674c00 with 0x6d89d48d900
    25	1852394b180a5cd8 ossl_ackm_on_tx_packet 0x6d8686676a0 sent:38 in_flight:173
    26	1852394b180a6c78 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b1c91bf08
    27	1852394b183febc8 txp_generate_for_el crypto frame sent for 0x6d868674c00 with 0x6d89d48d900
    28	1852394b18402a48 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b1c91bf08
    29	1852394b184068c8 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b1c91bf08
    30	1852394b18cf6258 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b1c91bf08
    31	1852394b19938548 ackm_on_pkts_acked 0x6d8686676a0 acked:38 inflight:135
    32	1852394b1993a0a0 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 1852394b1d4c4f98
    33	1852394b1993bbf8 ackm_on_pkts_lost 0x6d8686676a0 lost:97 in_flight:38
    34	ossl_quic_sstream_mark_lost 0x6d89d48d900 <start:0, end:51> = 51
    35	1852394b199492d0 txp_generate_for_el crypto not allowed for 0x6d868674c00 with 0x6d89d48d900
    36	1852394b19b08af8 ackm_on_pkts_acked 0x6d8686676a0 acked:38 inflight:0
    37	1852394b19b14e48 ackm_set_loss_detection_timer scheduling probe 0x6d8686676a0 ffffffffffffffff
```
line 1-13 shows client arms/schedules a timer to detect packet loss. Wehenever packetiser (a.k.a. `txp`) dispatches packet to be sent it also arms timer which eventually retransmits the packet in case it gets lost (an ACK packet does not arrive on time). 

Lines 14-16 show `txp` dispatching the first _handsahke_ encryption level packet 0 to network from client. Line 15 arms retransmission timer. Line 16 updates _in_flight_ bytes for _handshake_ encryption level. it's UDP datagram number 16.

Lines 20-22 send _handshake_ level packet 1 which carries PING frame only. It's UDP datagram 17.

Lines 24-26 send _handshake_ level packet 2 which carries yet another PING frame. It's UDP datagram 19

Lines 27-28 send _handshake_ level packet 3 which carries an ACK, it's UDP datagram 21. The ACK acknowledges server's _handshake_ packet number 2 sent in UDP datagram number 20 (so this is the ACK for PING sent by server), The QUIC packet carries ACK only, therefore it does not add bytes to in_flight bytes (sent but not acked).

Line 31 deals with _handshake_ ack from server. This must be ack from UDP datagram 24. it ACKs client's ping from UDP datagram 17 (the first ping sent by client)

Line 33 accounts for lost `handshake_finished` message sent in _handshake_ packet 0. Line 34 marks lost bytes in stream to be retransmitted. Line 35 shows client fails to retransmit the bytes from crypto stream. It's congestion controller what prevents client to send data. As long as congestion persits the _handshake_ level is allowed to send ACK only. This failure here is not critical (yet). Because there are still bytes in flight (unacked bytes) tracked at client so retranmission timer (a.k.a. probe timer) is still ticking.

Line 35 is where things get derailed. Here we get yet another ACK (UDP datagram 26). It acks packets 3, 2 and 1. Reception of this ACK makes in_flight bytes go to 0. It basically says There are no un-acked bytes sent by client. Havine 0 bytes count in flight makes retransmisison timer to go to -1 (infinity) this is exactly what happens at line  37. At this point the things stop to progress. Client application sent all its data and waits for response from server. The protocol waits for client the send (re-send) its `handshake_finished` message. And now client has disabled its retransmission timer (probe timeout) so no retransmission will ever happen.

Unfortunately I'm not able to get better insight into congestion controller. Adding more debug printfs suppresses the misbehaviour enough so it won't happen in 10000 trials.

[udp-41.pcapng.gz](https://github.com/user-attachments/files/21227113/udp-41.pcapng.gz)


The QUIC client does not follow [RFC 9002 6.2.2.1](https://datatracker.ietf.org/doc/html/rfc9002#section-6.2.2.1) closely enough. This is the relevant part:
```
Since the server could be blocked until more datagrams are received from the client, it is the client's
responsibility to send packets to unblock the server until it is certain that the server has finished its
address validation (see Section 8). That is, the client MUST set the PTO timer if the client has not received
an acknowledgment for any of its Handshake packets and the handshake is not confirmed (see Section 4.1.2 in RFC 9001), even if there are no packets in flight. When the PTO fires, the client MUST send a Handshake packet
if it has Handshake keys, otherwise it MUST send an Initial packet in a UDP datagram with a payload
of at least 1200 bytes.
```
So until client receives HANDSHAKE_CONFIRMED message from server it must keep PTO timer ticking. The OpenSSL QUIC client stack does not comply here as shown in debug logs in earlier comment.

This is the core part of the fix I'm currently testing
```
diff --git a/ssl/quic/quic_ackm.c b/ssl/quic/quic_ackm.c
index 6b4539452e..fccb121381 100644
--- a/ssl/quic/quic_ackm.c
+++ b/ssl/quic/quic_ackm.c
@@ -541,6 +541,9 @@ struct ossl_ackm_st {
     /* Set to 1 when the handshake is confirmed. */
     char            handshake_confirmed;
 
+    /* Set to 1 when attached to server channel */
+    char            is_server;
+
     /* Set to 1 when the peer has completed address validation. */
     char            peer_completed_addr_validation;
 
@@ -860,7 +863,13 @@ static OSSL_TIME ackm_get_pto_time_and_space(OSSL_ACKM *ackm, int *space)
     }
 
     for (i = QUIC_PN_SPACE_INITIAL; i < QUIC_PN_SPACE_NUM; ++i) {
-        if (ackm->ack_eliciting_bytes_in_flight[i] == 0)
+        /*
+         * RFC 9002 section 5.2.2.1 keep probe timeout armed until
+         * handshake is confirmed (client sees HANDSHAKE_DONE message
+         * from server(.
+         */
+        if (ackm->ack_eliciting_bytes_in_flight[i] == 0 &&
+            (ackm->handshake_confirmed == 1 || ackm->is_server == 1))
             continue;
 
         if (i == QUIC_PN_SPACE_APP) {
@@ -880,10 +889,15 @@ static OSSL_TIME ackm_get_pto_time_and_space(OSSL_ACKM *ackm, int *space)
             }
         }
 
-        t = ossl_time_add(ackm->time_of_last_ack_eliciting_pkt[i], duration);
-        if (ossl_time_compare(t, pto_timeout) < 0) {
-            pto_timeout = t;
-            pto_space   = i;
+        /*
+         * only re-arm timer stack has sent at least one ACK eliciting packet.
+         */
+        if (!ossl_time_is_zero(ackm->time_of_last_ack_eliciting_pkt[i])) {
+           t = ossl_time_add(ackm->time_of_last_ack_eliciting_pkt[i], duration);
+           if (ossl_time_compare(t, pto_timeout) < 0) {
+               pto_timeout = t;
+               pto_space   = i;
+           }
         }
     }
```