investigate failure in quic interop with ngtcp2

last night interop failed against ngtcp2:
https://github.com/openssl/openssl/actions/runs/16433767980

It appears that openssl, after sending a hello retry request is not properly handling the resent Hello request from the ngtcp2 client.  Need to investigate and determine the root cause

Ok, I've done a little debugging, and from what I've been able to gather, ngtcp2 started breaking at commit 1e860d694b648ebcf5d926fc1f581df9e70d4be2 of the ngtcp2 tree.

It appears they recently updated their default tls backend (wolfssl) to support ML-KEM key shares.

What seems to be happening (based on some fprintf tracing I did), is that wolfssl in ngtcp2 offers x25519, secp192, secp256, secp384 and X25519MLKEM768 as supported groups (in that order) but offers an X25519 key share.

In response openssl sends a hello retry request, asking for an MLKEM key share instead, which ngtcp obliges, sending a new client hello with the MLKEM key share included.

However, the second client hello and all subsequent frames from ngtcp2 are discarded in qrx_process_datagram() on the openssl server, due to a failure to decrypt the packet body.

While I don't know for certain, I have a feeling that ngtcp2 and openssl disagree on how/when packet protection keys are computed.  From section 5.2 of RFC 9001:
```
5.2.  Initial Secrets

   Initial packets apply the packet protection process, but use a secret
   derived from the Destination Connection ID field from the client's
   first Initial packet.

   This secret is determined by using HKDF-Extract (see Section 2.2 of
   [HKDF]) with a salt of 0x38762cf7f55934b34d179ae6a4c80cadccbb7f0a and
   the input keying material (IKM) of the Destination Connection ID
   field.  This produces an intermediate pseudorandom key (PRK) that is
   used to derive two separate secrets for sending and receiving.

   The secret used by clients to construct Initial packets uses the PRK
   and the label "client in" as input to the HKDF-Expand-Label function
   from TLS [TLS13] to produce a 32-byte secret.  Packets constructed by
   the server use the same process with the label "server in".  The hash
   function for HKDF when deriving initial secrets and keys is SHA-256
   [SHA].
```

I've not proven it, but I suspect that we have a disagreement on what constitues the "first" initial packet in a connection.  I think we continue to use the packet protection keys computed using the dcid of the true first initial packet in the connection, whereas ngtcp2, on regenerating the client hello, computes new packet protection keys based on the new dcid used in the second client hello, under the assumption that it (the second client hello) is the true first initial packet of the connection.

I'm not sure who's correct here, and I imagine that might be a debate, as the sending of an HRR is not a frequent occurance (or at least I've not seen it happen often), so I imagine this issue doesn't occur much, but it might be a worthwhile test to regenerate packet protection keys when sending an HRR to see if that makes the problem abate.

On the suggestion from Matt and Neil I tried the interoperability test with openssl client and server also and the test fails "the same" way. The openssl server returns an error of `TRANSPORT_PARAMETER_ERROR: multiple transport parameter extensions`. This means the issue is in openssl.