Encrypt validation token

As a successor for https://github.com/openssl/project/issues/912, we need to encrypt the token so that it cannot be tampered with by malicious actors and is completely opaque to the client. We need to decide if the key should be stored to/loaded from a file, or maybe ephemeral by being generated when the server starts up. We can take notes from quic-go: https://github.com/quic-go/quic-go/blob/master/internal/handshake/token_protector.go

I will just put quic summary of what quic-go token protector is doing.

The key to protect can be either randomly generated or provided by application.
Comment in [transport.go](https://github.com/quic-go/quic-go/blob/master/transport.go) reads as follows:
```
 63         // The TokenGeneratorKey is used to encrypt session resumption tokens.
 64         // If no key is configured, a random key will be generated.
 65         // If multiple servers are authoritative for the same domain, they should use the same key,
 66         // see section 8.1.3 of RFC 9000 for details.
 67         TokenGeneratorKey *TokenGeneratorKey
```
the key is created in transport.init() function:
```
233                 if t.TokenGeneratorKey == nil {
234                         var key TokenGeneratorKey
235                         if _, err := rand.Read(key[:]); err != nil {
236                                 t.initErr = err
237                                 return
238                         }
239                         t.TokenGeneratorKey = &key
240                 } 
```
The TokenGeneratorKey type is defined in [internal/handshake/token_protector.go](https://github.com/quic-go/quic-go/blob/master/internal/handshake/token_protector.go) as 32 byte array (256bits)

The token protector uses _AEAD_ with AES-256. To see how things are marshaled to packet take a look at `NewRetryToken` in [internal/handshake/token_generator.go](https://github.com/quic-go/quic-go/blob/master/internal/handshake/token_generator.go) 
```
 52 // NewRetryToken generates a new token for a Retry for a given source address
 53 func (g *TokenGenerator) NewRetryToken(
 54         raddr net.Addr,
 55         origDestConnID protocol.ConnectionID,
 56         retrySrcConnID protocol.ConnectionID,
 57 ) ([]byte, error) {
 58         data, err := asn1.Marshal(token{
 59                 IsRetryToken:             true,
 60                 RemoteAddr:               encodeRemoteAddr(raddr),
 61                 OriginalDestConnectionID: origDestConnID.Bytes(),
 62                 RetrySrcConnectionID:     retrySrcConnID.Bytes(),
 63                 Timestamp:                time.Now().UnixNano(),
 64         })
 65         if err != nil {
 66                 return nil, err
 67         }
 68         return g.tokenProtector.NewToken(data)
 69 }
```
it creates token (blob), encodes it as asn1 and passes it to protector at line 68.
```
  37 // NewToken encodes data into a new token.
 38 func (s *tokenProtectorImpl) NewToken(data []byte) ([]byte, error) {
 39         var nonce [tokenNonceSize]byte
 40         if _, err := rand.Read(nonce[:]); err != nil {
 41                 return nil, err
 42         }
 43         aead, aeadNonce, err := s.createAEAD(nonce[:])
 44         if err != nil {
 45                 return nil, err
 46         }
 47         return append(nonce[:], aead.Seal(nil, aeadNonce, data, nil)...), nil
 48 }
```
at line 47 we append token protected by aead to nonce. So this is something what appears in packet:
[ 32 bytes nonce | token sealed by aead ]

The verification is reverse process.

For MVP the key should be just ephemeral, generated at server start up.

I think this change also needs to address issue #930  analyzed by Neil.

the quic-go server stores RetrySrcConnectioId to token. We will need it to store it too so we will
be able to detect corruption (bit flips) in destination connection id in initial packets sent by client.

The new initial packet sent back by client carries token. If packet gets corrupted we need to detect
corruption at two places:
  - in token - it's granted because AEAD will not be able to decrypt the token using server's key
  - in destination connectionID, the destination connection ID must match RetrySrcConnectionID in token, if there is mismatch packet is corrupted and should be discarded.

Actually, in quic-go I think the destination connection ID is never matched against the RetrySrcConnectionId in the token. Instead, they just use the one in the token.

server.go: https://github.com/quic-go/quic-go/blob/master/server.go#L577-L609
validateToken: https://github.com/quic-go/quic-go/blob/master/server.go#L539

> Actually, in quic-go I think the destination connection ID is never matched against the RetrySrcConnectionId in the token. Instead, they just use the one in the token.
> 
> server.go: https://github.com/quic-go/quic-go/blob/master/server.go#L577-L609 validateToken: https://github.com/quic-go/quic-go/blob/master/server.go#L539

lovely. ignoring dst.ConnID in initial packet makes sense. I like that shortcut to ignore (potentially corrupted) dstConnId found in header and using the one found in token. the token if gets decrypted is reliable source of information.

We will likely not use an integrity tag when encrypting the token since it does not provide benefits. The decryption step will simply fail

> The decryption step will simply fail

How would the decryption fail without an integrity check? I think we should use AEAD.

PR merged