Introduction of AEAD validation prior to channel creation introduces regression

starting on Feb 7, several of our interop tests started failing:
https://github.com/openssl/openssl/actions/runs/13211649451

error seems to consistently be:
server  | 809B1907E47F0000:error:0A080106:SSL routines:hdr_generate_mask:passed invalid argument:ssl/quic/quic_wire_pkt.c:88:

and correlates to the addition of commit 59e7c2313be7cff76f313bc6f334703278b838e5:
Perform initial AEAD validation before creating a channel

Need to investigate and fix this asap, or revert the commit

It appears that, for some cases the sample_len value passed to hdr_generate_mask is less than 16 bytes, unsure as to why

So far it appears the problem doesn't occur in initial packet validation, that seems to pass ok.  Subsequent urxe's get processed after the initial packet, and fail in hdr_generate_mask with a sample len of < 16 in this stack trace:
```
#0  hdr_generate_mask (hpr=0x5555555e90d8, sample=0x5555555dde6f "Ŕ_de\357", <incomplete sequence \336>, sample_len=9, 
    mask=0x7fffffffdbd3 "\377\377\177") at ssl/quic/quic_wire_pkt.c:88
#1  0x00007ffff7f1828f in ossl_quic_hdr_protector_decrypt_fields (hpr=0x5555555e90d8, 
    sample=0x5555555dde6f "Ŕ_de\357", <incomplete sequence \336>, sample_len=9, 
    first_byte=0x5555555dde58 "K(`߾\213\331 \357|\\\205$\004\374'\242\272ŭ\367\224\064Ŕ_de\357", <incomplete sequence \336>, 
    pn_bytes=0x5555555dde6b "\255\367\224\064Ŕ_de\357", <incomplete sequence \336>) at ssl/quic/quic_wire_pkt.c:144
#2  0x00007ffff7f18246 in ossl_quic_hdr_protector_decrypt (hpr=0x5555555e90d8, ptrs=0x7fffffffdcb0) at ssl/quic/quic_wire_pkt.c:129
#3  0x00007ffff7efaaf7 in qrx_process_pkt (qrx=0x5555555e8dc0, urxe=0x5555555ddd30, pkt=0x7fffffffdd30, pkt_idx=0, first_dcid=0x7fffffffdd40, 
    datagram_len=32) at ssl/quic/quic_record_rx.c:1170
#4  0x00007ffff7efb26b in qrx_process_datagram (qrx=0x5555555e8dc0, e=0x5555555ddd30, 
    data=0x5555555dde58 "K(`߾\213\331 \357|\\\205$\004\374'\242\272ŭ\367\224\064Ŕ_de\357", <incomplete sequence \336>, data_len=32)
    at ssl/quic/quic_record_rx.c:1376
#5  0x00007ffff7efb30d in qrx_process_one_urxe (qrx=0x5555555e8dc0, e=0x5555555ddd30) at ssl/quic/quic_record_rx.c:1399
#6  0x00007ffff7efb40d in qrx_process_pending_urxl (qrx=0x5555555e8dc0) at ssl/quic/quic_record_rx.c:1431
#7  0x00007ffff7efb46a in ossl_qrx_read_pkt (qrx=0x5555555e8dc0, ppkt=0x5555555f0430) at ssl/quic/quic_record_rx.c:1442
#8  0x00007ffff7edec03 in ch_rx (ch=0x5555555efee0, channel_only=0, notify_other_threads=0x7fffffffde7c) at ssl/quic/quic_channel.c:2202
#9  0x00007ffff7ede76e in ossl_quic_channel_subtick (ch=0x5555555efee0, res=0x7fffffffdef0, flags=0) at ssl/quic/quic_channel.c:2040
#10 0x00007ffff7ef429e in ossl_quic_port_subtick (port=0x5555555d8c70, res=0x7fffffffdf60, flags=0) at ssl/quic/quic_port.c:663
#11 0x00007ffff7ee3ec0 in qeng_tick (res=0x7fffffffdfb0, arg=0x5555555d8af0, flags=0) at ssl/quic/quic_engine.c:191
#12 0x00007ffff7ef7a19 in ossl_quic_reactor_tick (rtor=0x5555555d8b18, flags=0) at ssl/quic/quic_reactor.c:146
#13 0x00007ffff7ef7f18 in ossl_quic_reactor_block_until_pred (rtor=0x5555555d8b18, pred=0x7ffff7eed5fc <wait_for_incoming_stream>, 
    pred_arg=0x7fffffffe0c0, flags=0) at ssl/quic/quic_reactor.c:477
#14 0x00007ffff7ee6dc2 in block_until_pred (ctx=0x7fffffffe0e0, pred=0x7ffff7eed5fc <wait_for_incoming_stream>, pred_arg=0x7fffffffe0c0, flags=0)
    at ssl/quic/quic_impl.c:538
#15 0x00007ffff7eed7ed in ossl_quic_accept_stream (s=0x5555555d7120, flags=0) at ssl/quic/quic_impl.c:3853
#16 0x00007ffff7eb079e in SSL_accept_stream (s=0x5555555d7120, flags=0) at ssl/ssl_lib.c:7812
#17 0x00005555555572c5 in run_quic_server (ctx=0x5555555720b0, sock=0x5555555cd280)
    at test/quic-openssl-docker/hq-interop/quic-hq-interop-server.c:661
#18 0x0000555555557570 in main (argc=4, argv=0x7fffffffe2e8) at test/quic-openssl-docker/hq-interop/quic-hq-interop-server.c:782
```

so it seems we're changing how we process the validation of packets after the connection is established

There are two altarnative ways to sort out the mess here:
  - the first option comes from Neil: [26745](https://github.com/openssl/openssl/pull/26745)
  - the second option is pure backout of offending change: [26748](https://github.com/openssl/openssl/pull/26748)

The workaround #26745 does no buy us much, because we always send a retry packet. Copy'n'pasting chat from quic channel:
```
Let me think loud about 'bad' solution in PR by Neil (#26745). we create QRX to validate every incoming packet. 
The creation of QRX cost us a derivation of encryption keys derived from initial connection ids. If packet is invalid we
discard it and we are done with it. On the other hand if packet is valid we send a retry packet back. Then client
comes back to us with initial packet. We then validate QUIC header, then validate token. if both are good then
we create channel. channel validates the QUIC header again. so we are just eating cpu cycles.
```

now the similar analysis for backout

```
now the worse solution (back out). we receive packet and send retry packet right away. The risk is we might be
sending retry packet to invalid packet (with corrupted DCID). If it is the case then valid client should not send
its initial packet back with token back to us. On the other hand if packet was valid things are good. Client
responds with initial packet whcih carries retry token. If DCID in packet from client is corrupted we will find it
out because there is test for this:
'''
1330     if (token.is_retry) {                                                                                                                                                                                                                    
1331         /*                                                                                                                                                                                                                                   
1332          * We're parsing a packet header before its gone through AEAD validation                                                                                                                                                             
1333          * here, so there is a chance we are dealing with corrupted data. Make                                                                                                                                                               
1334          * Sure the dcid encoded in the token matches the headers dcid to                                                                                                                                                                    
1335          * mitigate that.                                                                                                                                                                                                                    
1336          * TODO(QUIC FUTURE): Consider handling AEAD validation at the port                                                                                                                                                                  
1337          * level rather than the QRX/channel level to eliminate the need for                                                                                                                                                                 
1338          * this.                                                                                                                                                                                                                             
1339          */                                                                                                                                                                                                                                  
1340         if (token.rscid.id_len != hdr->dst_conn_id.id_len                                                                                                                                                                                    
1341             || memcmp(&token.rscid.id, &hdr->dst_conn_id.id,                                                                                                                                                                                 
1342                       token.rscid.id_len) != 0)                                                                                                                                                                                              
1343             goto err;                                                                                                                                                                                                                        
1344         *odcid = token.odcid;                                                                                                                                                                                                                
1345         *scid = token.rscid;                                                                                                                                                                                                                 
1346     } else {                
'''  
```

Both PRs make interoparability tests happy. But IMO we should just back out the offending change now. In my opinion we are good with mandatory retry packet we have in place. I need to better understand the failure in interoperability tests to come up with ultimate fix. 

To reproduce the issue without docker you need to build quic-go client:
```
git clone https://github.com/quic-go/quic-go
cd quic-go
go build .
patch < /tmp/main.diff
cd interop/quic-go
go build .
```
The patch you need to apply fixes paths so the quic-go client can run _outside_ of docker, desired patch reads as follows
```
diff --git a/interop/client/main.go b/interop/client/main.go
index fcde0bf7..b23be81a 100644
--- a/interop/client/main.go
+++ b/interop/client/main.go
@@ -28,7 +28,7 @@ var errUnsupported = errors.New("unsupported test case")
 var tlsConf *tls.Config
 
 func main() {
-	logFile, err := os.Create("/logs/log.txt")
+	logFile, err := os.Create("/tmp/logs/log.txt")
 	if err != nil {
 		fmt.Printf("Could not create log file: %s\n", err.Error())
 		os.Exit(1)
@@ -200,7 +200,7 @@ func downloadFile(cl http.RoundTripper, url string, use0RTT bool) error {
 	}
 	defer rsp.Body.Close()
 
-	file, err := os.Create("/downloads" + req.URL.Path)
+	file, err := os.Create("/tmp/downloads/" + req.URL.Path)
 	if err != nil {
 		return err
 	}
```

The next step is to build openssl. This might be complicated because you need to remove the backout changeset.
```
git clone https://github.com/openssl/openssl
cd openssl
git checkout -b feature/quic-server origin/feature/quic-server
git reset --hard HEAD~1   ### be careful this works as of Feb 16th 2025 you might want to use rebase to selectively remove blackout commit
./Configure -d enable-hqinterop --prefix=/path/to/your/test.env/
make && make install
```

prepare to run interop server.
```
cd test/quic-openssl-docker/
mkdir downloads
cd downloads
perl -e 'print "sample-" x 1000' > sample.txt
perl -e 'print "foo-" x 1000 > foo.txt
perl -e 'print "bar-" x 1000 > bar.txt
cd ..
```

Run server as our interop docker instance does:
```
LD_LIBRARY_PATH=/path/to/your/test.env/ NO_ADDR_VALIDATE=1 ./quic-hq-interop-server 12345 ../../certs/servercert.pem ../../certs/serverkey.pem
```

Run quic-go client
```
TESTCASE=transfer ./client https://localhost:12345/foo.txt https://localhost:12345/bar.txt https://localhost:12345/sample.txt
```

The difference to our regular tests we run in CI is `NO_ADDR_VALIDATE` environment variable which suppresses address validation. And this is where exactly bug is found. Why address validation matters? To understand what's going on there  we need to read RFC 9000 section 7.2 connection id negotiation.

The very first packet client sends contains random destination connection id. Server creates qrx and derives initial level encryption key using the destination connection id in the packet. The encryption key validates the packet. At this point the qrx including the derived keys must be forgotten. This happens automatically when we validate client via retry packet. But it is not the case when we skip sending retry packet like we do when running interoperability tests.

We need to adjust our plan when skipping address validation via retry packet:
  - we create qrx for initial packet
  - we use qrx to validate the packet, if packet does not validate we just `goto undesirable;`
  - if packet validates we forgot qrx so channel creates its own qrx with valid secrets later
  - caution: forgetting qrx is not straightforward as we need to salvage packets from it first, the salvaged packets are injected to channel
  - keep in mind those packets are unencrypted
patch here fixes AEAD validation done by port for quic-go interoperability test:
```
diff --git a/include/internal/quic_channel.h b/include/internal/quic_channel.h
index b782f0d66b..07b5c218ca 100644
--- a/include/internal/quic_channel.h
+++ b/include/internal/quic_channel.h
@@ -300,6 +300,8 @@ void ossl_quic_channel_on_stateless_reset(QUIC_CHANNEL *ch);
 
 void ossl_quic_channel_inject(QUIC_CHANNEL *ch, QUIC_URXE *e);
 
+void ossl_quic_channel_inject_pkt(QUIC_CHANNEL *ch, OSSL_QRX_PKT *qpkt);
+
 /*
  * Queries and Accessors
  * =====================
diff --git a/include/internal/quic_record_rx.h b/include/internal/quic_record_rx.h
index 54f3a6321b..8db7f3fc0d 100644
--- a/include/internal/quic_record_rx.h
+++ b/include/internal/quic_record_rx.h
@@ -320,6 +320,7 @@ int ossl_qrx_set_late_validation_cb(OSSL_QRX *qrx,
  * establish a new connection.
  */
 void ossl_qrx_inject_urxe(OSSL_QRX *qrx, QUIC_URXE *e);
+void ossl_qrx_inject_pkt(OSSL_QRX *qrx, OSSL_QRX_PKT *pkt);
 int ossl_qrx_validate_initial_packet(OSSL_QRX *qrx, QUIC_URXE *urxe,
                                      const QUIC_CONN_ID *dcid);
 
diff --git a/ssl/quic/quic_channel.c b/ssl/quic/quic_channel.c
index 61bcbdfd9d..6a97469a35 100644
--- a/ssl/quic/quic_channel.c
+++ b/ssl/quic/quic_channel.c
@@ -3423,6 +3423,11 @@ void ossl_quic_channel_inject(QUIC_CHANNEL *ch, QUIC_URXE *e)
     ossl_qrx_inject_urxe(ch->qrx, e);
 }
 
+void ossl_quic_channel_inject_pkt(QUIC_CHANNEL *ch, OSSL_QRX_PKT *qpkt)
+{
+    ossl_qrx_inject_pkt(ch->qrx, qpkt);
+}
+
 void ossl_quic_channel_on_stateless_reset(QUIC_CHANNEL *ch)
 {
     QUIC_TERMINATE_CAUSE tcause = {0};
diff --git a/ssl/quic/quic_port.c b/ssl/quic/quic_port.c
index 8f03bd89b6..1d6502b2fc 100644
--- a/ssl/quic/quic_port.c
+++ b/ssl/quic/quic_port.c
@@ -1453,8 +1453,10 @@ static void port_default_packet_handler(QUIC_URXE *e, void *arg,
     QUIC_CONN_ID odcid, scid;
     uint8_t gen_new_token = 0;
     OSSL_QRX *qrx = NULL;
+    OSSL_QRX *qrx_src = NULL;
     OSSL_QRX_ARGS qrx_args = {0};
     uint64_t cause_flags = 0;
+    OSSL_QRX_PKT *qrx_pkt = NULL;
 
     /* Don't handle anything if we are no longer running. */
     if (!ossl_quic_port_is_running(port))
@@ -1563,6 +1565,23 @@ static void port_default_packet_handler(QUIC_URXE *e, void *arg,
     if (ossl_qrx_validate_initial_packet(qrx, e, (const QUIC_CONN_ID *)dcid) == 0)
         goto undesirable;
 
+    if (port->validate_addr == 0) {
+        /*
+	 * Forget qrx, because it becomes (almost) useless here. We must let
+	 * channel to create a new QRX for connection ID server chooses. The
+	 * validation keys for new DCID will be derived by
+	 * ossl_quic_channel_on_new_conn() when we will be creating channel.
+	 * See RFC 9000 section 7.2 negotiating connection id to better
+	 * understand what's going on here.
+         *
+         * Did we say qrx is almost useless? Why? Because qrx remembers packets
+         * we just validated. Those packets must be injected to channel we are
+         * going to create. We use qrx_src alias so we can read packets from
+         * qrx and inject them to channel.
+         */
+         qrx_src = qrx;
+         qrx = NULL;
+    }
     /*
      * TODO(QUIC FUTURE): there should be some logic similar to accounting half-open
      * states in TCP. If we reach certain threshold, then we want to
@@ -1570,13 +1589,6 @@ static void port_default_packet_handler(QUIC_URXE *e, void *arg,
      */
     if (port->validate_addr == 1 && hdr.token == NULL) {
         port_send_retry(port, &e->peer, &hdr);
-        /*
-         * This is a kind of bummer because we forget secrets for initial
-         * level encryption. The secrets costs us CPU to compute. What we can
-         * do here is to store them within retry token. Then we can retrieve them
-         * from initial packet which will carry our retry token to validate
-         * client's address.
-         */
         goto undesirable;
     }
 
@@ -1585,6 +1597,9 @@ static void port_default_packet_handler(QUIC_URXE *e, void *arg,
      * server address validation, we may still get a token if we sent
      * a NEW_TOKEN frame during a prior connection, which we should still
      * validate here
+     *
+     * TODO: is it OK to keep qrx in this case? Are not we running into
+     * similar problem like we did in case when validate_addr == 0?
      */
     if (hdr.token != NULL
         && port_validate_token(&hdr, port, &e->peer,
@@ -1627,10 +1642,20 @@ static void port_default_packet_handler(QUIC_URXE *e, void *arg,
     if (gen_new_token == 1)
         generate_new_token(new_ch, &e->peer);
 
-    /*
-     * The qrx belongs to channel now, so don't free it.
-     */
-    qrx = NULL;
+    if (qrx != NULL) {
+        /*
+         * The qrx belongs to channel now, so don't free it.
+         */
+        qrx = NULL;
+    } else {
+        ossl_assert(qrx_src != NULL);
+        /*
+	 * We still need to salvage packets from almost forgotten qrx
+         * and pass them to channel.
+         */
+        while (ossl_qrx_read_pkt(qrx_src, &qrx_pkt) == 1)
+            ossl_quic_channel_inject_pkt(new_ch, qrx_pkt);
+    }
 
     /*
      * If function reaches this place, then packet got validated in
@@ -1647,6 +1672,7 @@ static void port_default_packet_handler(QUIC_URXE *e, void *arg,
 
 undesirable:
     ossl_qrx_free(qrx);
+    ossl_qrx_free(qrx_src);
     ossl_quic_demux_release_urxe(port->demux, e);
 }
 
diff --git a/ssl/quic/quic_record_rx.c b/ssl/quic/quic_record_rx.c
index 63aa9aff8f..38bc85283c 100644
--- a/ssl/quic/quic_record_rx.c
+++ b/ssl/quic/quic_record_rx.c
@@ -271,6 +271,23 @@ void ossl_qrx_inject_urxe(OSSL_QRX *qrx, QUIC_URXE *urxe)
                           qrx->msg_callback_arg);
 }
 
+void ossl_qrx_inject_pkt(OSSL_QRX *qrx, OSSL_QRX_PKT *pkt)
+{
+    RXE *rxe = (RXE *)pkt;
+
+    /*
+     * port_default_packet_handler() uses ossl_qrx_read_pkt()
+     * to get pkt. Such packet has refcount 1.
+     */
+    assert(rxe->refcount == 1);
+    if (rxe->refcount != 1) {
+        ossl_qrx_pkt_release(pkt);
+    } else {
+        rxe->refcount = 0;
+        ossl_list_rxe_insert_tail(&qrx->rx_pending, rxe);
+    }
+}
+
 /*
  * qrx_validate_initial_pkt() is derived from qrx_process_pkt(). Unlike
  * qrx_process_pkt() the qrx_validate_initial_pkt() function can process
```

I still owe explanation for error message we could see in log:
```
80EB0D09407F0000:error:0A080106:SSL routines:hdr_generate_mask:passed invalid argument:ssl/quic/quic_wire_pkt.c:88
```
The reason is we create qrx instance for the first initial packet sent by client. The packet uses DCID with length of 10bytes. However channel then expects DCID of length of 8 bytes (all connection IDs used by openssl have always length of 8). So there is mismatch between length of connection ID used by qrx and length of connection ID used by channel.