Augment session file creation to store quic transport parameters needed for zero rtt

According to [RFC 9001, Section 4.6.3](https://www.rfc-editor.org/rfc/rfc9001.html#name-validating-0-rtt-configurat), certain QUIC transport parameters must remain consistent between an initial connection and any resumed session.

In the current OpenSSL implementation, applications can use SSL_SESSION to persist session-related data for resumption in regular TLS. However, to support session resumption in QUIC, we need to enhance this functionality to also store QUIC-specific transport parameters. This work is a required step before [openssl/project#1165](https://github.com/openssl/project/issues/1165) which will load these stored data to be used for attempted 0-RTT.

RFC 9001 Section 4.6.3 outlines the required data to be stored between sessions:

> This information includes parameters that determine TLS state, as governed by [TLS 1.3](https://www.ietf.org/rfc/rfc9001.html#TLS13), QUIC transport parameters, the chosen application protocol, and any information the application protocol might need.

Other than the QUIC transport parameters, all the other data is already able to be stored and loaded in SSL_session. To address this, we need to extend the ssl_session_st structure to remote the local transport parameters from the ch->local_transport_params field. For example:

```c
struct ssl_session_st {
    const unsigned char *remote_transport_params;
    ...
}
```

These fields should be set appropriately during session creation, particularly in the code paths that invoke ssl_update_cache().

These can be pulled from QUIC_CHANNEL struct:

https://github.com/openssl/openssl/blob/e7d5398aa1349cc575a5b80e0d6eb28e61cb4bfa/ssl/quic/quic_channel_local.h#L64

Per [RFC 9000, Section 7.4.1](https://www.rfc-editor.org/rfc/rfc9000#section-7.4.1), only some QUIC transport parameters should be remembered. Here is the main excerpt, but read the RFC for more details.

> To enable 0-RTT, endpoints store the values of the server transport parameters with any session tickets it receives on the connection

We should probably store all transport parameters that are either mandatory or optional.

Full list of QUIC transport parameters: https://www.rfc-editor.org/rfc/rfc9000.html#transport-parameter-encoding

While we could leave QUIC parameters with default values out (and restored later by default values), I don't think this is necessary as the byte array will be generally small.

Testing and documentation for this enhancement will be delivered as part of [openssl/project#1165](https://github.com/openssl/project/issues/1165).

Thsi is the minimal diff to make swap_records test happy.
```
diff --git a/ssl/d1_lib.c b/ssl/d1_lib.c
index 302696f603..115a82430e 100644
--- a/ssl/d1_lib.c
+++ b/ssl/d1_lib.c
@@ -20,7 +20,7 @@ static int dtls1_handshake_write(SSL_CONNECTION *s);
 static size_t dtls1_link_min_mtu(void);
 
 /* XDTLS:  figure out the right values */
-static const size_t g_probable_mtu[] = { 1500, 512, 256 };
+static const size_t g_probable_mtu[] = { 1500, 512, 272 };
 
 const SSL3_ENC_METHOD DTLSv1_enc_data = {
     tls1_setup_key_block,
```
I still understand problem partially but this is what happens

the change makes SSL session ticket bigger. DTLS fails to send 4th flight messages in one packet:
```
   527  
   528      /* Recv flight 3, send flight 4: datagram 0(NST, CCS) datagram 1(Finished) */
   529      if (!TEST_int_gt(SSL_accept(sssl), 0)) /* this is where we put session to ticket */
   530          goto end;
   531  
```
DTLS uses mtu reported by BIO to make sure the headers fit into message boundary. If header is not going to fit the DTLS does BIO_flush() and moves on to construct the next message from remaining headers.

The mempacket bio currently uses MTU 256 which is unfortunate. Because it makes DTLS message to be sent without session ticket, the session ticket is part of next message. This is unfortunate because it makes test here in `ssl/statem/statem_clnt.c` to fail:
```
 376     case TLS_ST_CW_FINISHED:
 377         if (s->ext.ticket_expected) {
 378             if (mt == SSL3_MT_NEWSESSION_TICKET) {
 379                 st->hand_state = TLS_ST_CR_SESSION_TICKET;
 380                 return 1;
 381             }
 382         } else if (mt == SSL3_MT_CHANGE_CIPHER_SPEC) {
 383             st->hand_state = TLS_ST_CR_CHANGE;
 384             return 1;
 385         }
 386         break;
```
The state engine just makes the call to SSL_connect() which comes from here to fail:
```
554     /*
555      * Recv flight 4 (datagram 1): NST, CCS, + flight 5: app data
556      *      + flight 4 (datagram 2): Finished
557      */
558     if (!TEST_int_gt(SSL_connect(cssl), 0))
559         goto end;
560
```

I was investigating option to make message processing more robust see diff below. but it just invites more problems and is not worth the effort. I think minimal IPv4 dgram size is 576 bytes. so every sender or receiver must be able to deal with at least 576 big dgrams.

```
diff --git a/ssl/record/rec_layer_d1.c b/ssl/record/rec_layer_d1.c
index 111fbaf7d3..3fa136171c 100644
--- a/ssl/record/rec_layer_d1.c
+++ b/ssl/record/rec_layer_d1.c
@@ -668,6 +668,10 @@ int do_dtls1_write(SSL_CONNECTION *sc, uint8_t type, const unsigned char *buf,
     tmpl.buf = buf;
     tmpl.buflen = len;
 
+    /*
+     * call to:
+     *     tls_write_records
+     */
     ret = HANDLE_RLAYER_WRITE_RETURN(sc,
               sc->rlayer.wrlmethod->write_records(sc->rlayer.wrl, &tmpl, 1));
 
diff --git a/ssl/statem/statem.c b/ssl/statem/statem.c
index 05b491c395..25dadeedac 100644
--- a/ssl/statem/statem.c
+++ b/ssl/statem/statem.c
@@ -62,7 +62,8 @@ typedef enum {
     /* Sub state finished go to the next sub state */
     SUB_STATE_FINISHED,
     /* Sub state finished and handshake was completed */
-    SUB_STATE_END_HANDSHAKE
+    SUB_STATE_END_HANDSHAKE,
+    SUB_STATE_DTLS_CONTINUE
 } SUB_STATE_RETURN;
 
 static int state_machine(SSL_CONNECTION *s, int server);
@@ -484,7 +485,9 @@ static int state_machine(SSL_CONNECTION *s, int server)
             if (ssret == SUB_STATE_FINISHED) {
                 st->state = MSG_FLOW_WRITING;
                 init_write_state_machine(s);
-            } else {
+            } else if (ssret == SUB_STATE_DTLS_CONTINUE) {
+                continue;
+            } else{
                 /* NBIO or error */
                 goto end;
             }
@@ -643,10 +646,16 @@ static SUB_STATE_RETURN read_state_machine(SSL_CONNECTION *s)
             }
             /*
              * Validate that we are allowed to move to the new state and move
-             * to that state if so
+             * to that state if so (ossl_statem_client_read_transition())
              */
-            if (!transition(s, mt))
+            if (!transition(s, mt)) {
+                /*
+                 * handshake messages may come out of order
+                 */
+                if (SSL_CONNECTION_IS_DTLS(s) && s->rwstate == SSL_READING)
+                    return SUB_STATE_DTLS_CONTINUE;
                 return SUB_STATE_ERROR;
+            }
 
             if (s->s3.tmp.message_size > max_message_size(s)) {
                 SSLfatal(s, SSL_AD_ILLEGAL_PARAMETER,
@@ -686,7 +695,7 @@ static SUB_STATE_RETURN read_state_machine(SSL_CONNECTION *s)
                 SSLfatal(s, SSL_AD_INTERNAL_ERROR, ERR_R_INTERNAL_ERROR);
                 return SUB_STATE_ERROR;
             }
-            ret = process_message(s, &pkt);
+            ret = process_message(s, &pkt); /* ossl_statem_client_process_message */
 
             /* Discard the packet data */
             s->init_num = 0;
```
The diff above allows state engine to process session ticket found in next packet, but the code still gets to error path when no more messages are available and handshake is not complete yet:
```
 622     while (1) {
 623         switch (st->read_state) {
 624         case READ_STATE_HEADER:
 625             /* Get the state the peer wants to move to */
 626             if (SSL_CONNECTION_IS_DTLS(s)) {
 627                 /*
 628                  * In DTLS we get the whole message in one go - header and body
 629                  */
 630                 ret = dtls_get_message(s, &mt);
 631             } else {
```
We get there in next loop iteration after `process_message()` consumes SSL session ticket we got in next packet.

So I propose to change the min mtu for mempacket from 256 to 272. Going for more makes the dtls test to fail again, because there will be not enough packets to shuffle, so `mempacket_move_packet()` fails.


> +                 * handshake messages may come out of order

Note: DTLS handshake messages have an associated sequence id. Out-of-order handshake messages are buffered until they are needed. By the time we get to the `transition` function we should be receiving handshake messages in order.

I understand the problem with un-ordered messages. the things start to go downhill in `ssl/statem/statem_clnt.c` where the check I've pointed out just assumes the SESSION ticket comes within the same packet. But it is not the case. We got it in following packet. That diff I've shared gets the execution forward up to point where we read the SESSION ticket from next packet. But then I'm not able to stop processing of messages. I would like the code to return to caller (`SSL_connect()`) right away after SESSION ticket got processed.

so the proposal is to increase the MTU so packets will be split in more friendly fashion for DTLS stack.

Also this change needs to update testsid.pem to make `test_sid` happy. Here we have words of wisdom from @mattcaswell 
run this command within with fresh libssl built from the PR
```
./apps/openssl sess_id -in test/testsid.pem -out testsid.pem
mv testsid.pem test/.  
```

this is the diff which makes all tests to pass on my machine:
```
--- a/ssl/d1_lib.c
+++ b/ssl/d1_lib.c
@@ -20,7 +20,7 @@ static int dtls1_handshake_write(SSL_CONNECTION *s);
 static size_t dtls1_link_min_mtu(void);
 
 /* XDTLS:  figure out the right values */
-static const size_t g_probable_mtu[] = { 1500, 512, 256 };
+static const size_t g_probable_mtu[] = { 1500, 512, 272 };
 
 const SSL3_ENC_METHOD DTLSv1_enc_data = {
     tls1_setup_key_block,
diff --git a/test/testsid.pem b/test/testsid.pem
index 36fc4dbe48..f47e750608 100644
--- a/test/testsid.pem
+++ b/test/testsid.pem
@@ -34,5 +34,5 @@ d/xgQ6J+/Z2kAgQAqQQCAgEsqoHDBIHAPGxCacLRMYb3hbL3lRqQIfH3xoufIwKn
 zOAIyjxH7GPZpI87/e93AF1uw6eyy+aWJM6G/71E8Ln1iQtZjrGkGQCjEcIrUhEk
 Bgg93A28zly2zu2aBwi2yT4bUcyHxE3P3Q4R8xkQxrdWSMfCjCy9HKUViOENKET6
 avKXF7lDT1iG/x8RtTHtFGYX4YcFVhdEqcqnZ7tw5sqkHG2D0gLzO2SETF9KPHCq
-zAHQtw5r4Dgl+a+BGLczh6as4yIH+xH+swMCAQA=
+zAHQtw5r4Dgl+a+BGLczh6as4yIH+xH+vAMCAQA=
 -----END SSL SESSION PARAMETERS-----
```

After applying your diff, some tests sporadically fail when running `HARNESS_JOBS=$(nproc) make test` including `test_mp_rsa`, `test_pkcs7`, `test_pkeyutl`. I've pushed your diff to my PR, maybe it'll still pass