implement sending of version negotiation packets from server

Section 6 of RFC 9000 describes the sending and handling of version negotiation packets between a client and server.  Currently our server code simply drops packets which request a version other than QUIC_VERSION_1 (see port_default_packet_handler()).  We should be sending a version negotiation packet instead to properly handle section 6.  Failure to do this is impeding our use of the interop testing framework, which uses version negotiation to detect server readiness status.