DTLS 1.3 Chach20 Interop Issue with NSS

When doing interop testing with NSS when using ChaCha20 the sequence numbers in the unified header were decrypted to a very large value. The logic in dtls_crypt_sequence_number didn't match the RFC 9147 Section 4.2.3 https://datatracker.ietf.org/doc/rfc9147/