QUIC Conformance Updates: Connection Termination

RFC 9000 section 10

PR [&#35;21429](https://github.com/openssl/openssl/pull/21429)