Set QUIC transport parameters according to RFC

[RFC 9000 Section 7.4.1](https://www.rfc-editor.org/rfc/rfc9000#section-7.4.1) specifies how the values of remembered QUIC transport parameters sent by a client over 0-RTT should be accepted.

There's a lot of specific rules, so read the RFC. Essentially, some parameters must be accepted, some cannot be changed under any/certain conditions, and some should be discarded.

Add test that QUIC parameters are set as expected