DTLS 1.3  End of Early Data Record

RFC 9147 Section 5.6 says the End of Early Data record should be omitted. Currently it is being sent. This ticket is to adjust the state machine and verify that the epoch is correct in the end.